//- Article Apprentissage
mj-section(background-color='#ffffff' padding-top='0')
    mj-group(width='480px')    
        mj-column(width='50%')
            mj-image(padding-right='10px' border='none' src='https://i.ibb.co/DWqHwVf/Let02-062024.jpg' alt='aide à la vente')/
        mj-column(width='50%')
            mj-image(padding-left='10px' border='none' src='https://i.ibb.co/88tbFYq/Let03-062024.jpg' alt='travail en groupe avec apprenti')/
    mj-column(width='480px')
        mj-text(padding-bottom='0' padding-top='0' font-size='16px' font-weight='900' line-height='20px' color='#AA3E17' text-transform='uppercase') Alternance
        mj-text(padding-bottom='0' padding-top='0' font-size='28px' font-weight='300' line-height='32px' color='#EC6608') #[span(style='font-weight:700;') Recruter un alternant], c'est pour votre entreprise
        mj-text(mj-class='D_text' padding-bottom='0') #[span(style='font-weight:700;') - Déceler] les Savoirs Être et les Savoirs Faire de son prochain collaborateur.
        mj-text(mj-class='D_text' padding-bottom='0') #[span(style='font-weight:700;') - Bénéficier] d'une aide unique de l'État (jusque 6000 €).
        mj-text(mj-class='D_text' padding-bottom='0') #[span(style='font-weight:700;') - Être exempté] de charges sociales.
        mj-text(mj-class='D_text' padding-bottom='0') #[span(style='font-weight:700;') - Donner] une rénumération apprenti.
