//- Télécharge la fiche du Bachelor RDC
mj-section(background-color='#ffffff' padding-top='0')
    mj-column(width='480px')
        mj-button( css-class='hoverA' font-size='16px' font-weight='600' background-color='#EC6608' border-radius='5px' text-transform='uppercase' inner-padding='14px 24px' href='https://drive.google.com/file/d/13Ta168b9Vw0E7G8pCIHuKeKmUCWm3r3i/view?usp=sharing') Télécharger CV BOOK