//- Call to Action 
mj-section(padding-top='0' background-color='#ffffff')
    mj-group(width='180px')
        mj-column(width='50%')
            mj-button(css-class='hover' href='mailto:ml.wallaert@ecosup-campus.fr' align='right' target='_blank' padding='0 15px 0 0' inner-padding='0' width='60px' height='60px' border-radius='5px' background-color="#198754" line-height='36px')
                img(src='https://img.mailinblue.com/3403292/images/content_library/original/65ffecfb9d8a3bdbe17813ec.png' style='width:36px;text-align:center;vertical-align:middle;' alt='Contact Email')/
        mj-column(width='50%')
            mj-button(css-class='hover' href='tel:+33320700606' align="left" target='_blank' padding='0 0 0 15px' inner-padding='0' width='60px' height='60px' border-radius='5px' background-color="#198754" line-height='36px')
                img(src='https://img.mailinblue.com/3403292/images/content_library/original/65ffed049d8a3bdbe17813ed.png'  style='width:36px;text-align:center;vertical-align:middle;' alt='Contact Phone')/