//- Block Jeff de Bruges
mj-section(background-color='#FDE2CE')
    mj-column(width='480px')
        mj-image( border='none' src='https://i.ibb.co/CBHLFtT/Let01-062024.jpg' alt='gros plan d\'étudiants en alternance')/
    mj-column(width='480px')
        mj-text(padding-bottom='0' padding-top='0' font-size='16px' line-height='20px' font-weight='900' text-transform='uppercase' color='#AA3E17') Apprentissage - Octobre 2024
        mj-text(padding-bottom='0' padding-top='0' font-size='28px' line-height='32px' font-weight='300' color='#EC6608') Les #[span(style="font-weight:700") suivis Entreprises] débutent pour les 1#[sup(style="font-size:12px;line-height:0px;") res] années en #[span(style="font-weight:700;") BTS MCO]
        mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748') Aujourd'hui, c'est #[span(style="font-weight:700") Hamza], encadré de son tuteur Guillaume WANTELLET, franchisé de la #[span(style="font-weight:700") boutique Jeff de Bruges], dans la galerie du centre commercial St Christophe à Tourcoing qui m'accueille.
        mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' padding-top='0') #[span(style="font-weight:700") Hamza] est #[span(style="font-weight:700") conseiller de vente au magasin] : ses missions consistent à créer les ballotins de chocolats, conseiller et vendre, fidéliser la clientèle, suivre les préconisations d'implantation, communiquer sur les réseaux.
        mj-text(font-size='16px' line-height='20px' font-weight='400' color='#2D3748' padding-top='0') Durant les deux ans du BTS, #[span(style="font-weight:700") 4 rendez-vous] seront pris pour #[span(style="font-weight:700;") suivre l'évolution de l'étudiant] et de ses différentes compétences.