//- Réglement
mj-section
    mj-column(width='480px')
        mj-text(align='center' mj-class='D_footer' padding-top='0' padding-bottom='0') Si vous ne visualisez pas cet email correctement, cliquez #[a(style='text-decoration:none;color:#EC6608;' href='{{ mirror }}') ici].
        mj-text(align='center' mj-class='D_footer' padding-top='0' padding-bottom='0') Vous recevez ce message parce que vous vous êtes inscrit(e) aux communications d'Ecosup Campus.
        mj-text(align='center' mj-class='D_footer' padding-top='0' text-transform='uppercase'): a( style='text-decoration:none;color:#EC6608;' href='{{ unsubscribe }}') Se desinscrire
        mj-text(align='center' mj-class='D_footer') @ 2024 Ecosup Campus