//- Signature
mj-section(background-color='#ffffff')
    mj-group(width='480px')
        mj-column(width='40%')
            mj-image( align='right' padding='0' width='100px' src='https://i.ibb.co/Mskj4kV/Marie-Laurence.jpg' alt='Laurence Wallaert responsable pédagogique')/
        mj-column(width='60%')
            mj-text(mj-class='D_text' padding-bottom='0') À bientôt
            mj-text(mj-class='D_text' padding-top='0' padding-bottom='0') #[span(style='font-weight:700;') Marie-Laurence] #[span(style='text-transform:uppercase;font-weight:700;') Wallaert]
            mj-text(mj-class='D_text' padding-top='0' padding-bottom='0') Responsable pédagogique
            mj-text(mj-class='D_text' padding-top='0' padding-bottom='0') Ecosup-commerce
            mj-text(mj-class='D_text' padding-top='0') Tourcoing