//- Article Superqinquin
mj-section(background-color='#ffffff' padding-top='0')
    mj-group(width='480px')    
        mj-column(width='50%')
            mj-image(padding-right='10px' width="480px" border='none' src='https://i.ibb.co/DWqHwVf/Let02-062024.jpg' alt='aide à la vente')/
        mj-column(width='50%')
            mj-image(padding-left='10px' width="480px" border='none' src='https://i.ibb.co/88tbFYq/Let03-062024.jpg' alt='travail en groupe avec apprenti')/
        mj-column(width='50%')
            mj-image(padding-right='10px' width="480px" border='none' src='https://i.ibb.co/DWqHwVf/Let02-062024.jpg' alt='aide à la vente')/
        mj-column(width='50%')
            mj-image(padding-left='10px' width="480px" border='none' src='https://i.ibb.co/88tbFYq/Let03-062024.jpg' alt='travail en groupe avec apprenti')/
    mj-column(width='480px')
        mj-text(padding-bottom='0' padding-top='0' font-size='16px' font-weight='900' line-height='20px' color='#AA3E17' text-transform='uppercase') Découverte Alternance
        mj-text(padding-bottom='0' padding-top='0' font-size='28px' font-weight='300' line-height='32px' color='#EC6608') Découverte du concept  de la #[span(style='font-weight:700;') Maillerie] à Villeneuve d'Ascq
        mj-text(mj-class='D_text' padding-bottom='0') Etre étudiant en BTS MCO en alternance à Ecosup Campus, ce n'est pas seulement suivre le programme du BTS.
        mj-text(mj-class='D_text' padding-bottom='0') Nous avons à cœur de créer une cohésion d'équipe sein de nos classes tout en développant la culture d'entreprise et la curiosité des étudiants.
        mj-text(mj-class='D_text' padding-bottom='0') Le 25.10.24, en route vers le quartier de la Maillerie à Villeneuve d'ascq et rencontre avec Bénédicte membre du magasin coopératif et participatif  SUPERQUINQUIN, https://www.superquinquin.fr/valdemarque/
        mj-text(mj-class='D_text' padding-bottom='0') Mais, qu'est ce que c'est un magasin coopératif et participatif ???
        mj-text(mj-class='D_text' padding-bottom='0') C'est un supermarché qui appartient à ses membres, actrices et acteurs de leur consommation et décideurs.se.s des orientations de leur coopérative. Il est Participatif car chaque membre intègre une des équipes qui font tourner le magasin (2h45 toutes les 4 semaines). Ils tiennent la caisse et les rayons et proposent des produits à tester et découvrir.
